<nav  class="navbar navbar-inverse navbar-fixed-bottom " style="height:100px">
  <div class="foot container-fluid ">
    <div class="col-md-6"><p>Copyrigtht &copy; Françoise AMOUGOU <br>
      01 02 03 04 05</p>
    </div>
    <div class="col-md-4">
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group ">
          <input type="text" class="  form-control" placeholder="Rechercher">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
        </div>
      </form>
    </div>
    <div class="col-md-2" id="social-networks">
      <a href="https://www.facebook.com/" target="_blank">
        <img alt="" style="width:24px;height:24px;object-fit:cover;"
             src="images/facebook.00_wix_mp_srz"></a>
      <a href="https://twitter.com/?lang=fr" target="_blank"><img alt=""
                                                                  style="width:24px;height:24px;object-fit:cover;"
                                                                  src="images/twitter.00_png_srz"></a>
      <a href="https://youtube.com/?hl=fr&gl=FR" target="_blank"><img alt=""
                                                                      style="width:24px;height:24px;object-fit:cover;"
                                                                      src="images/youtube.00_wix_mp_srz"></a>
    </div>
  </div>
</nav>
