<nav class="navbar navbar-inverse ">
  <div class="foot container-fluid ">
    <div class="col-md-6"><p>Copyrigtht &copy; Françoise AMOUGOU <br>
      01 02 03 04 05</p>
    </div>
    <div class="col-md-4">
      <form class="navbar-form navbar-right" role="search">
        <div class="input-group ">
          <input type="text" class="  form-control" placeholder="Rechercher">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
        </div>
      </form>
    </div>
    <div class="col-md-2" id="social-networks">
      <a href="https://www.facebook.com/" target="_blank">
        <img alt="" style="width:24px;height:24px;object-fit:cover;"
             src="http://static.wixstatic.com/media/da00086a27cc2c52ec7a11ec468c4d29.wix_mp_srz_p_24_24_75_22_0.50_1.20_0.00_wix_mp_srz"
             id="LnkBr0i09drimageimage" class="s7imageItemimageimage"
             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$SITE_FOOTER.1.1.$LnkBr0.0.0.0.0.0"></a>
      <a href="https://twitter.com/?lang=fr" target="_blank"><img alt=""
                                                                  style="width:24px;height:24px;object-fit:cover;"
                                                                  src="http://static.wixstatic.com/media/89b1d2497b29ccbb7d37be1ec6ef0052.png_srz_p_24_24_75_22_0.50_1.20_0.00_png_srz"
                                                                  id="LnkBr0i11y0yimageimage"
                                                                  class="s7imageItemimageimage"
                                                                  data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$SITE_FOOTER.1.1.$LnkBr0.0.1.0.0.0"></a>
      <a href="https://youtube.com/?hl=fr&gl=FR" target="_blank"><img alt=""
                                                                      style="width:24px;height:24px;object-fit:cover;"
                                                                      src="http://static.wixstatic.com/media/18c89da08d6d565d177322d1faabb972.wix_mp_srz_p_24_24_75_22_0.50_1.20_0.00_wix_mp_srz"
                                                                      id="LnkBr0i21gjwimageimage"
                                                                      class="s7imageItemimageimage"
                                                                      data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$SITE_FOOTER.1.1.$LnkBr0.0.2.0.0.0"></a>
    </div>
  </div>
</nav>
