<div class="navbar navbar-inverse navbar-fixed-top mynav">
  <div class="col-md-1" ><span style="float:right; padding-top:10px">LOGO</span></div>
  <div class="col-md-8">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-mouseleave="hover_accueil()">
        <li ng-mouseenter="hover_accueil()" ng-class="{'active':setActive(accueil)}"><a ui-sref="accueil">Accueil</a></li>
        <li ng-mouseenter="hover_team()"><a ui-sref="teambuilding">Team Building</a></li>

        <li class="dropdown menu-large" ng-mouseenter="hover_partner()">
          <a ui-sref="groupes" class="dropdown-toggle"  data-toggle="dropdown"> Mes partenaires<b class="caret"></b>
          </a>
          <ul class="dropdown-menu megamenu row" ng-show="partner_hover">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Partenaire 1</li>
                <li><a href="#">Image Partenaire 1</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Partenaire 2</li>
                <li><a href="#">Image Partenaire 2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Partenaire 3</li>
                <li><a href="#">Image Partenaire 3</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Partenaire 4</li>
                <li><a href="#">Image Partenaire 4</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown menu-large" ng-mouseover="hover_event()">
          <a ui-sref="evenementiel" class="dropdown-toggle"  data-toggle="dropdown"> Evenementiel <b class="caret"></b>
          </a>
          <ul class="dropdown-menu megamenu row" ng-show="event_hover">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Groupe 1</li>
                <li><a href="#">Image groupe 1</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Groupe 2</li>
                <li><a href="#">Image groupe 2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Groupe 3</li>
                <li><a href="#">Image groupe 3</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Groupe 4</li>
                <li><a href="#">Image groupe 4</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown menu-large" ng-mouseenter="hover_pedagogie()">
          <a ui-sref="pedagogie" class="dropdown-toggle" data-toggle="dropdown"> Pédagogie <b class="caret"></b> </a>
          <ul class="dropdown-menu megamenu row" ng-show="pedagogie_hover">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Cours 1</li>
                <li><a href="#">Image Cours 1</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Cours 2</li>
                <li><a href="#">Image Cours 2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Cours 3</li>
                <li><a href="#">Image Cours 3</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Cours 4</li>
                <li><a href="#">Image Cours 4</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown menu-large" ng-mouseenter="hover_medias()">
          <a ui-sref="medias" class="dropdown-toggle" data-toggle="dropdown"> Medias <b class="caret"></b> </a>
          <ul class="dropdown-menu megamenu row" ng-show="medias_hover">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Photos</li>
                <li><a href="#">Image media 1</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Vidéos</li>
                <li><a href="#">Image media 2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Téléchargement</li>
                <li><a href="#">Image media 3</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Projets</li>
                <li><a href="#">Image media 4</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="dropdown menu-large" ng-mouseenter="hover_contacts()">
          <a ui-sref="contacts" class="dropdown-toggle" data-toggle="dropdown">Contacts <b class="caret"></b></a>
          <ul class="dropdown-menu megamenu row" ng-show="contacts_hover">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Liens Partenaires</li>
                <li><a href="#">Image Cours 1</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">References</li>
                <li><a href="#">Image Cours 2</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Liens</li>
                <li><a href="#">theme 1</a></li>
                <li><a href="#">theme 2</a></li>
                <li><a href="#">theme 3</a></li>
              </ul>
            </li>
            <li class="col-sm-6">
             ICI peut être une carte google map
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <form class="navbar-form navbar-right" role="search">
      <div class="input-group ">
        <input type="text" class="  form-control" placeholder="Rechercher">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
      </div>
    </form>
  </div>
</div>
